{% extends "base.html.jinja" %}

{% block content %}
  <h2>Vaults</h2>
  <p>
    Vaults are a special construction that involves locking your Bitcoin into a
    set of guaranteed paths to provide additonal security. Normal vaults require
    you to pre-sign transactions and throw away the keys, but with
    <code>OP_CTV</code> you can guarantee that your transactions will only go to
    your predetermined vault outputs without any deleted key requirements, trust
    issues or worries about losing presigned transaction.
  </p>

  <form action="/vaults/vaulting" method="post">
    <label for="amount">Locked Amount</label>
    <input type="text" id="amount" name="amount" />
    <small>E.g. <code>1btc</code> or <code>10000sats</code>.</small>

    <label for="cold_address">Cold Address</label>
    <input type="text" id="cold_address" name="cold_address" />

    <label for="hot_address">Hot Address</label>
    <input type="text" id="hot_address" name="hot_address" />

    <label for="block_delay">Block Delay</label>
    <input type="text" id="block_delay" name="block_delay" />

    <label for="network">Network</label>
    <select id="network" name="network" required>
      <option value="regtest">Regtest</option>
      <option value="signet">Signet</option>
    </select>

    <input type="submit" />

    <details>
      <summary>Additional Options</summary>

      <div>
        <label for="taproot">
          <input type="checkbox" id="taproot" name="taproot" value="true" />
          Taproot
        </label>
        <small>Use a taproot output instead of Segwit v0 (the default).</small>
      </div>
    </details>
  </form>
{% endblock %}
