{% extends "base.html.jinja" %}

{% block content %}
  <div class="grid">
    <strong>Address</strong>
    <code style="grid-column-end: span 4">{{ address }}</code>
  </div>

  <hr />

  <form action="/vaults/unvaulting" method="post">
    <input type="hidden" name="vault" value="{{ vault }}" />

    <label for="txid">Txid</label>
    <input type="text" name="txid" id="txid" />

    <label for="vout">Vout</label>
    <input type="text" name="vout" id="voud" />

    <input type="submit" />
  </form>
{% endblock %}
