{% extends "base.html.jinja" %}

{% block content %}
  <div class="grid">
    <strong>Spend to Hot Address</strong>
    <code style="grid-column-end: span 4">{{ hot_tx }}</code>
  </div>

  <hr />

  <div class="grid">
    <strong>Spend to Cold Address</strong>
    <code style="grid-column-end: span 4">{{ cold_tx }}</code>
  </div>
{% endblock %}
