{% extends "base.html.jinja" %}

{% block content %}
  <div class="grid">
    <strong>Unvaulting Transaction</strong>
    <code style="grid-column-end: span 4">{{ tx }}</code>
  </div>

  <hr />

  <div class="grid">
    <strong>Vault Locking Script</strong>
    <code style="grid-column-end: span 4">{{ "" }}</code>
  </div>

  <hr />

  <form action="/vaults/spending" method="post">
    <input type="hidden" name="vault" value="{{ vault }}" />

    <label for="txid">Txid</label>
    <input type="text" name="txid" id="txid" />

    <input type="submit" />
  </form>
{% endblock %}
