{% extends "base.html.jinja" %}

{% block content %}
  <main>
    <p>
      Now it's time to begin the unvualting process. In order to unvault, you
      must spend the vaulted Bitcoin to a new output. This new output allows
      only two possible path spends: the hot path and the cold path. Once you
      have broadcast the transaction, move onto the next step.
    </p>

    <div class="grid">
      <strong>Unvaulting Transaction</strong>
      <code style="grid-column-end: span 4">{{ tx }}</code>
    </div>

    <hr />

    <div class="grid">
      <strong>Vault Locking Script</strong>
      <code style="grid-column-end: span 4">{{ script|escape("none") }}</code>
    </div>

    <hr />

    <form action="/vaults/spending" method="post">
      <input type="hidden" name="vault" value="{{ vault }}" />
      <input type="hidden" name="txid" value="{{ txid }}" />

      <input type="submit" value="Continue to spending" />
    </form>
  </main>
{% endblock %}
