{% extends "base.html.jinja" %}

{% block content %}
  <div class="grid">
    <strong>Unvaulting Transaction</strong>
    <code style="grid-column-end: span 4">{{ tx }}</code>
  </div>

  <hr />

  <div class="grid">
    <strong>Vault Locking Script</strong>
    <code style="grid-column-end: span 4">{{ script }}</code>
  </div>

  <hr />

  <form action="/vaults/spending" method="post">
    <input type="hidden" name="unvault_ctv" value="{{ unvault_ctv }}" />
    <input type="hidden" name="hot_ctv" value="{{ hot_ctv }}" />
    <input type="hidden" name="cold_ctv" value="{{ cold_ctv }}" />

    <label for="txid">Txid</label>
    <input type="text" name="txid" id="txid" />

    <label for="vout">Vout</label>
    <input type="text" name="vout" id="voud" />

    <input type="submit" />
  </form>
{% endblock %}
