{% extends "base.html.jinja" %}
{% block content %}
  <header>
    <p>
      <code>OP_CTV</code> (as described in
      <a href="https://github.com/bitcoin/bips/blob/master/bip-0119.mediawiki"
        >BIP-119</a
      >) locks a Bitcoin UTXO to only be spent by a certain enumerated set of
      outputs. Think of it like using presigned transactions, but without the
      double spend risk. Using the tools on this page, you can play with that on
      Signet or Regtest using
      <a href="https://github.com/bitcoin-inquisition/bitcoin"
        >Bitcoin Inquisition</a
      >. With this tool, you will create a CTV address and lock Bitcoin into it,
      then you will create spending transactions which will spend to
      <em>only</em> those committed outputs.
    </p>
  </header>
  <main>
    <article>
      <header><h4>Try out these CTV constructions:</h4></header>
      <dl>
        <dt><a href="/simple">Simple Lock</a></dt>
        <dd>
          Generate a simple CTV lock <em>or</em> a congestion control tree (plus
          the full set of all unlocking transactions).
        </dd>
        <dt><a href="/vaults">Vault</a></dt>
        <dd>
          Create a vault which has only two spend paths: Immediate spend to a
          cold storage wallet, or a delayed spend to a hot wallet.
        </dd>
      </dl>
    </article>
  </main>
{% endblock %}
