{% extends "base.html" %} {% block content %}
<h1>CTV Playground</h1>

<h2>Locking Transaction</h2>

<p>
  <code>OP_CTV</code> (as described in
  <a href="https://github.com/bitcoin/bips/blob/master/bip-0119.mediawiki"
    >BIP-119</a
  >) locks a Bitcoin UTXO to only be spent by a certain enumerated set of
  outputs. Using the tools on this page, you can play with that on Signet or
  Regtest using
  <a href="https://github.com/bitcoin-inquisition/bitcoin"
    >Bitcoin Inquisition</a
  >. Using this tool, you will create a CTV address and lock Bitcoin into it,
  then you will create a spending transactions which will spend to
  <em>only</em> those committed outputs.
</p>

<p>
  First, describe the future outputs you wish your transaction to commit to.
  They should take the form:

  <br />
  <code>
    address1:1.2btc <br />
    address2:4323sats
  </code>
  <br />

  You can use any combination of addresses and amounts (in sats or BTC) that you
  like. After you lock the Bitcoin into these outputs, you will NOT be able to
  send your Bitcoin anywhere else.
</p>

<p>
  Then, enter the <em>Input Index</em> of the CTV transaction. This is the
  <code>vout</code> of the CTV locking transaction. Usually it will be
  <code>0</code>, but it will depend on which output your wallet uses for the
  CTV output.
</p>

<p>
  Lastly, enter the network you wish send to. Currently the CTV soft fork is
  only active on signet and regtest.
</p>

<form action="/locking" method="post">
  <label for="outputs">Outputs</label>
  <textarea name="outputs" id="outputs" required></textarea>

  <label for="input1">Input Index</label>
  <input type="text" id="input1" name="input" required />

  <label for="network1">Network</label>
  <select id="network1" name="network" required>
    <option value="regtest">Regest</option>
    <option value="signet">Signet</option>
  </select>

  <input type="submit" />
</form>
{% endblock %}
