{% extends "base.html" %} {% block content %}
<h1>CTV Playground</h1>

<p>Using the address below, you can now send Bitcoin a CTV lock!</p>

<div class="grid">
  <strong>Template Hash</strong>
  <code style="grid-column-end: span 4">{{ ctv_hash }}</code>
</div>

<hr />

<div class="grid">
  <strong>Locking Script</strong>
  <code style="grid-column-end: span 4"
    >{{ locking_script|escape("none") }}</code
  >
</div>

<hr />

<div class="grid">
  <strong>Locking Script (Hex)</strong>
  <code style="grid-column-end: span 4">{{ locking_hex}}</code>
</div>

<hr />

<div class="grid">
  <strong>Address</strong>
  <code style="grid-column-end: span 4">{{ address }}</code>
</div>

<h2>Unlocking Transaction</h2>

<p>
  Once you have sent your Bitcoin to the above address, it can no longer be
  spent it unless you have sent it to the specified outputs! Now you can create
  an unlocking transaction. Enter the transaction ID of the CTV lock you just
  mined. Then, using the information you filled out on the previous page, you
  will receive a transaction which can be broadcast to unlock the Bitcoin to the
  specified outputs.
</p>

<div>
  <form action="/spending" method="post">
    <input type="hidden" name="ctv" value="{{ctv}}" />

    <label for="txid">Txid</label>
    <input type="text" name="txid" required />

    <label for="vout">Vout</label>
    <input type="text" name="vout" required />

    <input type="submit" />
  </form>
</div>
{% endblock %}
