{% extends "base.html" %} {% block content %}
<h1>CTV Playground</h1>
<div class="grid">
  <strong>Template Hash</strong>
  <code style="grid-column-end: span 4">{{ ctv }}</code>
</div>

<hr />

<div class="grid">
  <strong>Locking Script</strong>
  <code style="grid-column-end: span 4">{{ locking_script }}</code>
</div>

<hr />

<div class="grid">
  <strong>Locking Script (Hex)</strong>
  <code style="grid-column-end: span 4">{{ locking_hex}}</code>
</div>

<hr />

<div class="grid">
  <strong>Address</strong>
  <code style="grid-column-end: span 4">{{ address }}</code>
</div>

<div>
  <form action="/spending" method="post">
    <input type="hidden" name="ctv" value="{{ctv}}" />
    <input type="hidden" name="input" value="{{input}}" />

    {% for address in addresses %}
    <input type="hidden" name="addresses" value="{{address}}" />
    {% endfor %} {% for amount in amounts %}
    <input type="hidden" name="amounts" value="{{amount}}" />
    {% endfor %}

    <label for="txid">Txid</label>
    <input type="text" name="txid" />

    <input type="submit" />
  </form>
</div>
{% endblock %}
